node_modules
.env
.env.local
.env.*.local
dist
/logs
*.log
# Build artifacts
/target/*
!/target/idl/
!/target/types
/target/debug/
/target/release/

frontend/.env
.env.*

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform (additional)
.terraform/
.terraform.lock.hcl
terraform/.terraform/